.index-body {
  background-color: #EEF5FC;
  // text-align: center;

}

table {
  border: solid 1px black;
  font-size: 16px;
  padding: 0;
  margin: 0;
  border-spacing: 0;
  text-align: center

}

tr {
  border: solid 1px black;
}

th {
  border: solid 1px black;
  background-color: #63A3E3;
  padding: 4px;

}

td {
  border: solid 1px black;
  padding: 4px;
}

.table {
width: 200vh !important;
height: 35rem !important;
overflow: scroll;
}

h1 {
  text-align: center
}

.syntetic-table {
  margin: auto;
  margin-bottom: 30px;
  align-items: center;
  width: 100vh !important;
  height: 100px !important;
  padding: 20px;
}

.link {
  text-align: center;
  margin: 30px;
  padding: 30px;
}
