<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CSV IMPORT AND TABLE SYSTEM</title>
</head>
<body class= "body">

  <div class="container">
    <div class="import">
      <h1>Import CSV file</h1>
      <div class="import-file">
        <%= form_tag bulk_create_reservations_path, multipart: true do %>
          <span class= "btn-add"> <%= file_field_tag :file %> </span>
          <%= submit_tag "Importer CSV", class: "btn-submit"  %>
        <% end %>
      </div>
    </div>

    <p class="link"><%= link_to "Accéder aux tableaux", reservations_path%></p>
  </div>
</body>
</html>


<%# regarder si le file de file_field_tag est complété %>
